<mat-card>

   <mat-card-title>
     Select
   </mat-card-title>
 
   <mat-card-content>
 
     <section>
         <p>Select the fields you need:</p>
         <section>
             <mat-checkbox [(ngModel)]="v_showName" name="showName">Name</mat-checkbox>
             <mat-checkbox [(ngModel)]="v_showAddress" name="showAddress">Address</mat-checkbox>
             <mat-checkbox [(ngModel)]="v_showPhone" name="showPhone">Phone</mat-checkbox>
             <mat-checkbox [(ngModel)]="v_showAge" name="showAge">Age</mat-checkbox>
         </section>
     </section>
 
     <br><br>
 
     <section>
         <mat-form-field *ngIf="v_showName">
             <input matInput placeholder="Name">
         </mat-form-field>
         <mat-form-field *ngIf="v_showAddress">
             <input matInput placeholder="Address">
         </mat-form-field>
         <mat-form-field  *ngIf="v_showPhone">
             <input matInput placeholder="Phone">
         </mat-form-field>
         <mat-form-field  *ngIf="v_showAge">
             <input matInput placeholder="Age" type="number">
         </mat-form-field>                        
     </section>
 
   </mat-card-content>
 
   <mat-card-footer>
   </mat-card-footer>
   
 </mat-card>
 