<mat-card class="card">
   <mat-card-content>
      <section>
         <mat-form-field class="form-field">
            <input matInput placeholder="First name" name="name" [(ngModel)]="var_name">
            <mat-icon matSuffix>person</mat-icon>
         </mat-form-field>
         <mat-form-field class="form-field">
            <input matInput placeholder="Address" name="address" [(ngModel)]="var_address">
            <mat-icon matSuffix>home</mat-icon>
         </mat-form-field>
         <mat-form-field class="form-field">
            <input matInput placeholder="Phone" name="phone" [(ngModel)]="var_phone">
            <mat-icon matSuffix>phone</mat-icon>
         </mat-form-field>
         <!-- 
            Esse elemento estará VINCULADO a outro elemento do tipo lista selecionável,
            através da variável var_city que é a que está implementada no objeto 
         -->
         <mat-form-field class="form-field">
            <mat-select placeholder="City" name="city" [(ngModel)]="var_city">
               <!-- o [value] vai receber e poder intercambiar o valor escolhido -->
               <mat-option *ngFor="let city of var_cities" [value]="city.name">
                  {{city.name}} - {{city.state}}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field class="form-field">
            <input matInput placeholder="Age" name="age" [(ngModel)]="var_age">
         </mat-form-field>
      </section>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
   </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>


<section>
   <p>
      <mat-card class="card">
         <mat-card-content>
            <mat-list>
               <h3 matSubHeader *ngIf="clients.length > 0">Customers</h3>
               <mat-list-item *ngFor="let client of clients; let i=index">
                  <mat-icon matListIcon>person</mat-icon>
                  <h4 matLine>{{i}}</h4>
                  <h4 matLine>{{name}}</h4>
                  <h4 matLine>{{client.name}}</h4>
                  <h4 matLine>{{client.address}}</h4>
                  <h4 matLine>{{client.phone}}</h4>
                  <h4 matLine>{{client.city}}</h4>
                  <h4 matLine>{{client.age}}</h4>
                  <button mat-icon-button color="accent" aria-label="Delete button" (click)="delete(i)">
                     <mat-icon>delete</mat-icon>
                   </button>
               </mat-list-item>
            </mat-list>
         </mat-card-content>
      </mat-card>
   </p>
</section>



